:root{
--ash-gray: #acbdba;
--gainsboro: #cddddd;
--royal-purple: #7353ba;
--jet: #2e2f2f;
--rich-black-fogra-29: #051014;
}
@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Noto+Sans&family=Press+Start+2P&display=swap');

.logo-app{
  font-family: 'Julius Sans One', sans-serif;
  font-size: 30px;
  font-weight: 800;
  background: #051014;
  background: linear-gradient(to right, #cddddd 0%, #7353ba 50%, #cddddd 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (max-width:330px){
  .logo-app{
    font-size: 18px;
  }
}
